/* Estilo para a tela de detalhes do cliente */
.container {
 
    margin-top: 200px; /* Desce 200px do topo */
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: auto;
    margin-left: auto;
    margin-right: auto;
}

.container h2 {
    color: #004080;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #004080;
    padding-bottom: 0.5rem;
}

.container p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.8rem;
}

.container p strong {
    color: #004080;
}

.container a {
    margin-top: 1.5rem;
    display: inline-block;
    background-color: #004080;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.container a:hover {
    background-color: #002f5f;
}
